$color-000 : rgb(255, 255, 255);
$color-001 : rgba(40, 53, 65, 0.1);
$color-002 : rgb(81, 107, 132);
$color-003 : rgb(53, 71, 88);
$color-004 : rgb(40, 53, 65);

.App {
  
  height: 100vh;
  width: 100vw;
  svg {
    color: $color-000;
  }
  .Header {
    width: 100%;
    background-color: $color-000;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px 8px 50px;
    box-sizing: border-box;
    .left{
      display: flex;
      align-items: center;
      p{
        margin: 0px;
        font-size: 30px;
        font-weight: 800;
        padding-left: 30px;
        color: $color-003;
      }
    }
  }
  .body{
    display: flex;
    .Sidebar {
      height: 100vh;
      box-sizing: border-box;
      min-width: 250px;
      background-color: $color-004;
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.697);
      padding-top: 80px;
      .item {
        cursor: pointer;
        display: flex;
        color: $color-000;
        padding: 10px 20px 10px 20px;
        // justify-content: space-between;
        p {
          margin: 0px 0px 0px 20px;
          font-weight: 500;
          color: $color-000;
        }
      }
      .item.selected {
        background-color: $color-002;
      }
      .item.selected:hover {
        background-color: $color-002;
      }
      .item:hover {
        background-color: $color-003;
      }
    }
    .MainBody, .PrgramPage {
      background-color: $color-001;
      padding: 80px 60px 0px 60px;
      width: 100%;
      box-sizing: border-box;
      .table {
        color: $color-004;
        width: 100%;
        height: 300px;
        background-color: $color-000;
        padding: 30px 60px 30px 60px;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
      }
    }
  }
}